body {
  margin: 5px;
  font-family: arial, helvetica, sans;
  background-color: #472323;
  text-align: center;
}

#container {
  padding: 10px;
  width: 960px;
  margin: auto;
  background-color: #FFFFFF;
  text-align: left;
}

h2 {
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px;
  margin-bottom: 20px;
}

a.addnew {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

a.addnew:hover {
  color: red;
  text-decoration: underline;
}

a.listitem {
  height: 138;
  width: 464px;
  float: left;
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
  background-color: #f3f3f3;
  margin: 2px;
  border: 1px solid rgb(223, 223, 223);
}

a.listitem:hover {
  background-color: #FFFFCC;
}

a.listitem .rating {
  margin-top: 20px;
  font-size: 1.5em;
  color: #CA1C9A;
}

a.listitem img {
  float: left;
  margin-right: 10px;
  border: 0;
}

a.listitem .title {
  font-weight: bold;
}

a.listitem span.year {
  font-weight: normal;
  font-style: italic;
}

a.listitem .date-added {
  font-size: 0.8em;
  font-style: italic;
}

.clearfix {
  clear: both;
  float: none;
}

#add_movie label {
   float: left;
   width: 100px;
   margin-right: 5px;
   text-align: right;
}

#add_movie #title {
   width: 300px;
}

#add_movie #year {
   width: 80px;
}

#add_movie #image {
   width: 600px;
}

.detail .rating {
  margin-top: 20px;
  font-size: 1.5em;
  color: #CA1C9A;
}

.detail img {
  float: left;
  margin-right: 20px;
}

.detail .title {
  font-weight: bold;
  font-size: 2em;
}

.detail span.year {
  font-weight: normal;
  font-style: italic;
}

.detail .date-added {
  font-size: 0.8em;
  font-style: italic;
}
.message {
   text-align: center;
}

.message span {
   background-color: #C0E7C0;
   padding: 5px;
   color: green;
   font-weight: bold;
   border: 1px solid green;
}